
body {

	margin: 0px 0px 0px 0px;

}

header {
	height: 650px;
	background: url(../teacherPics/MavSchool1.jpg) center center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Arial Black", "Arial";
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

section {

	margin: 0;

}

.newList {

	text-align: left;

}

.newList li {

	text-decoration: underline;
	font-style: italic;

}

#emph {

	text-transform: uppercase;
	text-decoration: underline;

}

table {

	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

	td {

		border: 2px solid black;

	}

.tablePositioner {

	height: 300px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;

}

.remind101 {

	width: 700px;
	margin-left: auto;
	margin-right: auto;

}

	.mavIcon {

		max-height: 100px;
		max-width: 100px;
		display: inline-block;
		margin: 30px 0 10px 30px;
		float: left;

	}

	nav {

		float: right;
		margin: 70px 40px 0 0;
				
	}

		a {

			display: inline-block;
			margin-left: 20px;
			text-decoration: none;
			font-size: 18px;
			color: white;
			transition: .3s;
			
		}

			a:hover {


				color: #3C3E3D;

				}

	.teacherLogo {

		text-align: center;

	}


	h1 {
		
		font-size: 72px;
		font-weight: 700;
		letter-spacing: 0.05em;
		text-align: center;
		color: white;
		margin: 25px;
		clear: both;
	}


		span {

			border: white solid 8px;
			padding: 5px;

		}

	.iconLockup {

		max-width: 1143px;
		margin: 30px auto 20px auto;
		display: -webkit-flex;
		-webkit-align-items: center;
		display: flex;
		align-items: center;
		

	}

		.kaylaPic {

			border-radius: 50%;
			margin-left: auto;
			margin-right: auto;
			
			
		}

		.iconQoW {

			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #02330f;
			background: #005826;
			float: left;
			margin: 0 30px 20px 30px;		
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);	

		}



			

			.iconQoW:hover {
			  -webkit-animation: animationA 1000ms linear both;
			  animation: animationA 1000ms linear both;
			}





			#aQoW {

				margin: 0px;

			}

			.newQoWIcon {

				padding: 30px 5px 0px 5px;


			}


		.calendar {

			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #02330f;
			background: #005826;
			float: left;
			margin: 0 30px 20px 30px;
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

		}

		 

			

			.calendar:hover {
			  -webkit-animation: animationA 850ms linear both;
			  animation: animationA 850ms linear both;
			}





			#aCal {

				

			}

			.newCalendarIcon {

				padding-left: 0px;
				padding-top: 15px;
				background-position: center;

			}

		.email {

			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #02330f;
			background: #005826;
			float: right;
			margin: 0 30px 20px 30px;
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

		}



				.email:hover {
				  -webkit-animationA: animation 850ms linear both;
				  animation: animationA 850ms linear both;
				}

				



			.newEmailIcon {

				padding-top: 15px;
				

			}

		.links {

			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #02330f;
			background: #005826;
			float: right;
			margin: 0 30px 20px 30px;
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

		}



			

			

			.links:hover {
			  -webkit-animation: animationA 1000ms linear both;
			  animation: animationA 1000ms linear both;
			}

			

			.newLinksIcon {

				padding-top: 15px;
				
			}

	.blurb {

		max-width: 700px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		font-size: 24px;
		font-family: "Verdana";
		line-height: 30px;
		color: #747474;
		letter-spacing: .2em;
		padding-bottom: 30px;

	}

	.sectionQoW {

		background-color: #04438b;
		//max-height: 800px;
		min-height: 550px;
		text-align: center;
		background-size: cover;
		position: relative;
		border: 2px solid #022247;

	}

		@media (max-width: 800px) {

				.sectionQoW {

					padding-bottom: 20px;

				}

			}

		.qow h2 {

			display: inline-block;
			font-size: 24px;
			color: white;
			font-family: "Arial Black", "Arial";
			margin: 40px auto 10px auto

		}

			.qow h2 span {

				border: white solid 5px;
				-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
				box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
			}

		.qow p {

			color: white;
			text-align: center;
			font-family: "Verdana";
			font-size: 24px;
			line-height: 30px;
			letter-spacing: .2em;
			max-width: 1000px;
			margin-right: auto;
			margin-left: auto;
			padding:30px 0px 30px 0px;

		}

		.qow table {

			margin-bottom: 20px;
			font-family: "Verdana";

		}

			@media (max-width: 800px) {

				.qow p {

					font-size: 30px;

				}

			}

		.qow a {

			background-color: white;
			color: #04438b;
			font-family: "Arial Black", "Arial";
			padding: 20px;
			margin-left: 0px;

		}

			@media (max-width: 800px) {

				.qow a {

					margin-bottom: 30px;
					font-size: 30px;
					//background-color: green;
				}

			}

			.qow a:hover {

				background-color: #04438b;
				color: white;
				border: 2px solid white;

			}

		.qow hr {

			width: 700px;

		}

		.iconQuestion {

			
			position: absolute;
			top:  20px;
			left: 150px;
			

		}

	.sectionCalendar {

		
		text-align: center;

	}


		.calendarSection h2 {

			display: inline-block;
			font-size: 24px;
			color: #04438b;
			font-family: "Arial Black", "Arial";
			margin: 40px auto 80px auto;

		}

			.calendarSection h2 span {

					border: #04438b solid 5px;
					padding-left: 50px;
					padding-right: 50px;
					background-size: cover;
					-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);

				}

		.googleCalendar {

			padding-bottom: 100px;

		}

.paper {

	background-color: white;
	color: black;
	width: 865px;
	font-family: "Verdana";
	font-size: 24px;
	line-height: 30px;
	letter-spacing: .2em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 30px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.paper p {

	color: black;
    font-family: "Verdana";
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .2em;
    margin-left: auto;
    margin-right: 75px;
    text-align: left;
    padding-left: 150px;
	
}

#quote {

	color: #04438b;
	font-family: "Verdana";
	font-size: 24px;
	border: none;
	padding: 0px;
	font-style: italic;

}

.paper img {

	height: 200px;
    width: 350px;
	
}

	.sectionLinks {

		background-image: url(../teacherPics/mathBG.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #01441e;
		text-align: center;
		position: relative;
		border: 2px solid #02330f;
	}

		.helpfulLinks {

			margin: 0px auto 100px auto;

		}

			.helpfulLinks h2 {

				text-align: center;
				margin-top: 35px;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				color: white;
				font-family: "Arial Black", "Arial";


			}

				.helpfulLinks h2 span {

					border: white solid 5px;
					-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);

				}

			

				.linksLocker img {

					display: inline-block;
					padding-bottom: 80px;


				}

				.linksLocker a {

					margin-left: 0px;
					overflow: hidden;
					max-height: 200px;
					margin-bottom: 80px;
					-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
				}

					.wiggleOverlay {

						position: absolute;
						right: 100%;
						opacity: 0;
						width: 200px;
						height: 200px;
						font-family: "Arial Black", "Arial";
						background-color: rgba(0, 0, 0, 0.75);

					}

						.wiggleOverlay p {

							margin-top: 40%;

						}



					.wiggle:hover {
					  -webkit-animation: animationA 750ms linear both;
					  animation: animationA 750ms linear both;
					  color: white;

					}

					.wiggle:hover .wiggleOverlay {

						top: 0%;
						right: 0%;
						opacity: 1;
						transition: all .2s ease-in-out;
					}

					

					@-webkit-keyframes animationA { 
					  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  3.2% { -webkit-transform: matrix3d(1, 0.285, 0, 0, 0.187, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.285, 0, 0, 0.187, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  4.5% { -webkit-transform: matrix3d(1, 0.336, 0, 0, 0.22, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.336, 0, 0, 0.22, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  6.41% { -webkit-transform: matrix3d(1, 0.36, 0, 0, 0.235, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.36, 0, 0, 0.235, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  9.01% { -webkit-transform: matrix3d(1, 0.327, 0, 0, 0.214, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.327, 0, 0, 0.214, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  12.71% { -webkit-transform: matrix3d(1, 0.226, 0, 0, 0.149, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.226, 0, 0, 0.149, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  13.51% { -webkit-transform: matrix3d(1, 0.203, 0, 0, 0.134, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.203, 0, 0, 0.134, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  17.92% { -webkit-transform: matrix3d(1, 0.092, 0, 0, 0.061, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.092, 0, 0, 0.061, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  18.92% { -webkit-transform: matrix3d(1, 0.072, 0, 0, 0.048, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.072, 0, 0, 0.048, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  25.23% { -webkit-transform: matrix3d(1, -0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  29.03% { -webkit-transform: matrix3d(1, -0.015, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.015, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  31.43% { -webkit-transform: matrix3d(1, -0.016, 0, 0, -0.011, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.016, 0, 0, -0.011, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  34.63% { -webkit-transform: matrix3d(1, -0.014, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.014, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  40.14% { -webkit-transform: matrix3d(1, -0.007, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.007, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  56.46% { -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  62.36% { -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  84.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
					}

					@keyframes animationA { 
					  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  3.2% { -webkit-transform: matrix3d(1, 0.285, 0, 0, 0.187, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.285, 0, 0, 0.187, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  4.5% { -webkit-transform: matrix3d(1, 0.336, 0, 0, 0.22, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.336, 0, 0, 0.22, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  6.41% { -webkit-transform: matrix3d(1, 0.36, 0, 0, 0.235, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.36, 0, 0, 0.235, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  9.01% { -webkit-transform: matrix3d(1, 0.327, 0, 0, 0.214, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.327, 0, 0, 0.214, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  12.71% { -webkit-transform: matrix3d(1, 0.226, 0, 0, 0.149, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.226, 0, 0, 0.149, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  13.51% { -webkit-transform: matrix3d(1, 0.203, 0, 0, 0.134, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.203, 0, 0, 0.134, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  17.92% { -webkit-transform: matrix3d(1, 0.092, 0, 0, 0.061, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.092, 0, 0, 0.061, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  18.92% { -webkit-transform: matrix3d(1, 0.072, 0, 0, 0.048, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.072, 0, 0, 0.048, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  25.23% { -webkit-transform: matrix3d(1, -0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  29.03% { -webkit-transform: matrix3d(1, -0.015, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.015, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  31.43% { -webkit-transform: matrix3d(1, -0.016, 0, 0, -0.011, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.016, 0, 0, -0.011, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  34.63% { -webkit-transform: matrix3d(1, -0.014, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.014, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  40.14% { -webkit-transform: matrix3d(1, -0.007, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.007, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  56.46% { -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  62.36% { -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  84.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
					  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
					}


	.sectionContactMe {

		text-align: center;
		max-height: 650px;
		min-height: 550px;
		margin-bottom: 100px;

	}

		.contactMe h2{

			display: inline-block;
			font-size: 24px;
			color: #04438b;
			font-family: "Arial Black", "Arial";
			margin: 30px auto 30px auto;
		}

			.contactMe span {

				border: #04438b solid 5px;
					padding-left: 50px;
					padding-right: 50px;
					background-size: cover;
					-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
					box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
			}

		#emailDirect {

			display: inline-block;
			font-size: 24px;
			color: #04438b;
			font-family: "Arial Black", "Arial";
			margin: 30px auto 10px auto;

		}

		#emailAddress {

			color: #04438b;
			font-size: 60px;
			font-family: "Arial Black", "Arial";
			margin-bottom: 10px;
			background-color: #cbcbcb;
			max-width: 1000px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
		}

	form {

		max-width: 450px;
		margin: 0 auto 50px;
		font-family: "Arial Black", "Arial";

	}



		 input, textarea {

			border: 2px solid #04438b;
			width: 100%;
			box-sizing: border-box;
			padding: 10px;

		}

		.submit-wrap {

			text-align: right;

		}

		[type="submit"] {

			background: #04438b;
			color: white;
			font-size: 24;
			font-family: "Arial Black", "Arial";
			width: 33%;
		}

			[type="submit"]:hover {

				background: #2586f6;
				cursor: pointer;

			}

		textarea{

			height: 10em;

		}

			input:focus {

				outline: none;
				border-color: #2586f6;

			}

			textarea:focus {

				outline: none;
				border-color: #2586f6;

			}

	.contactInfo {



		}

			.contactInfo label {

				width: 48%;
				margin-right: 2%;
				box-sizing: border-box;
				float: left;

			}

		label {

			
			display: block;
			
			margin-bottom: 20px;
			

		}

			label span {

				display: block;

			}


	.formBars {

		margin-bottom: 130px;

	}

	.footer {

		max-height: 500px;
		min-height: 200px;
		background-color: #04438b;
		background-size: cover;
		border: 2px solid #022247;
	}


		.content-wrap {

			float:left;

		}


			.footerNav {

				float: left;

			}

				.footerNav a {

					display: inline-block;
					margin-left: 20px;
					text-decoration: none;
					font-size: 18px;
					color: white;
					transition: .3s;
					
				}

					.footerNav a:hover {


						color: #3C3E3D;

						}


				.copyright {

					font-family: "Arial Black", "Arial";
					margin: 0;
					text-transform: uppercase;
					max-width: 500px;
					color: rgba(0,0,0,0.4);
					text-align: center;
				}

